body {
    font-family: 'Roboto Mono', monospace;
    min-height: 700px;
    background-image: url('https://data.1freewallpapers.com/download/coins-background.jpg');
    background-color: #000000;
    background-size: 100%;
    background-position: center bottom;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    text-align: left;
    padding: 25px;
    height: 100vh;
}

.page-title {
    color: #ffffff;
    margin: 0 0 5px;
}

.page-subtitle {
    color: #ffffff;
    margin-top: 5px;
}

.page-logo {
    width: 250px;
}

.alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
}

form {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(6, 6rem);
    row-gap: 1rem;
    color: #ffffff;
    line-height: 2rem;
}

fieldset {
    grid-column: 1/1;
    grid-row: 2/ 2;
    display: flex;
    flex-direction: column;
    margin: 0 0 2rem 0;
    border: none;
}
input {
    margin: 0 0 2rem;
}
